/* Geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
    color: #333;
}

body {
    background-image: url(../img/img-bg.jpg);
    background-position: center;
    background-size: cover; /* Ocupar a tela toda*/
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    margin: 0;
}

button {
    background-color: #FDFDFD;
    color: #102F5e;
    border: 2px solid #102F5e;
    padding: .3rem .6rem;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    align-content: center;
    align-items: center;
    transition: .4s;
}

button:hover {
    background-color: #102F5e;
    color: #FFF;
}

button:hover > i {
    color: #FFF;
}

button i {
    color:#102F5e;
    font-weight: bold;
    pointer-events: none; /*Desabilita evento de click no icone pois ele está por cima do button*/  
}

input, select {
    padding: 0.25rem 0.5rem;
}

.hide {
    display: none;
}

/* Todo Header */
.todo-container {
    max-width: 450px;
    margin: 3rem auto;
    background-color: #FDFDFD;
    padding: 1.5rem;
    border-radius: 15px;
}

.todo-container header {
    text-align: center;
    padding: 0 1rem 1rem;
    border-bottom: 1px solid #ccc;
}

/* Todo form */
#todo-form, #edit-form {
    padding: 1rem;
    border-bottom: 1px solid #ccc;
}

#todo-form p, #edit-form p {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.form-control {
    display: flex;
}

.form-control input {
    margin-right: 0.3rem;
}

#cancel-edit-btn {
    margin-top: 1rem;
}




